<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="eRetail.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <eRetail.My.MySettings>
            <setting name="server" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="dbname" serializeAs="String">
                <value>cKT1MTYpaw8=</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>lFRRYWD0RfM=</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>SXATVQXDiRfEhqQ99+Z9/A==</value>
            </setting>
            <setting name="kodekasir" serializeAs="String">
                <value>01</value>
            </setting>
            <setting name="printername" serializeAs="String">
                <value>Microsoft XPS Document Writer</value>
            </setting>
            <setting name="namatoko" serializeAs="String">
                <value>UD. MAJU MUNDUR</value>
            </setting>
            <setting name="alamattoko" serializeAs="String">
                <value>JL. BUNG KARNO 143 PAGUTAN</value>
            </setting>
            <setting name="kota" serializeAs="String">
                <value>MATARAM</value>
            </setting>
            <setting name="notelp" serializeAs="String">
                <value>641644</value>
            </setting>
            <setting name="npwp" serializeAs="String">
                <value>1234567890</value>
            </setting>
            <setting name="paper_width" serializeAs="String">
                <value>80mm</value>
            </setting>
            <setting name="show_last_transaction" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="extend_display" serializeAs="String">
                <value>T</value>
            </setting>
            <setting name="extend_display_index" serializeAs="String">
                <value>0</value>
            </setting>
        </eRetail.My.MySettings>
    </userSettings>
</configuration>
